/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

   html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
   body{line-height:1}
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}
   
   @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
   
 /* =============================================================================
      PRELOADER
      ========================================================================== */


   .preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #479752fb;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #367f81;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }
   
   /* =============================================================================
      My CSS
      ========================================================================== */
   
   /* ---- base ---- */
   
   html,body{ 
       width:100%;
       height:100%;
       background: url(pic/aurora-borealis-reflection-picjumbo-com.jpg);
   }
   
   body{
     font:normal 75% Arial, Helvetica, sans-serif;
     font-family: 'Permanent Marker', cursive;
     background-size: cover;
   }   
   
   #particles-js{
     width: 100%;
     height: 100%;
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
   }
   
   .banner{
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: -52rem;
     width: 100vw;
     height: 80vh;
     flex-direction: column;
   }
   h1{
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 5rem;
     color: rgb(91, 216, 118);
   }
   .mikey{
     margin-left: -4rem;
     font-size: 5rem;
   }
   .steamm{
     display: flex;
     font-size: 2rem;
   }
   .row{
     margin-top: 2rem;
     display: flex;
     justify-content: center;
     flex-direction: row;
   }
   img{
     width: 10rem;
     height: 10rem;
   }
   img:hover{
     transform: scale(1.1);
   }
   .steam{
     margin-right: 3rem;
   }
   .telegram{
     margin-right: 3rem;
   }
   .inst{
     margin-right: 3rem;
   }
   .ins{
     width: 9.5rem;
     height: 9.5rem;
   }
   .telegram{
     width: 9.5rem;
     height: 9.5rem;
   }
   .spot{
     margin-right: 3rem;
   }
   @media (max-width: 500px) {
    .mikey{
      margin-top: 3rem;
      font-size: 4rem;
    }
     .row{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-left: 10%;
     }
     img{
       width: 6rem;
       height: 6rem;
     }
     .telegram{
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
     }
     .spot{
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
     }
     .steam{
      margin-top: -1rem;
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
     }
     .banner{
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: -49rem;
     
   }
   }
   @media (max-width: 560px) {
     .row{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-left: 10%;
     }
     img{
       width: 7rem;
       height: 7rem;
     }
     .telegram{
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
     }
     .spot{
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
     }
     .steam{
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
     }
     .banner{
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: -49rem;
     
   }
   }
   @media (max-width: 760px) {
     .row{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-left: 10%;
     }
     img{
       width: 7rem;
       height: 7rem;
     }
     .telegram{
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
     }
     .spot{
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
     }
     .steam{
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
     }
     .banner{
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: -49rem;
     
   }
   }


   